$RECYCLE.BIN/
**/.aws-sam
*.cab
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tsbuildinfo
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.directory
.dynamodb/
.env
.env*.local
.env.test
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.lock-wscript
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.out
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.storybook-out
.stylelintcache
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
bower_components
build/Release
coverage
dist
dist/
ehthumbs.db
ehthumbs_vista.db
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
storybook-static
temp/
tmp/
typings/
yarn-debug.log*
yarn-error.log*
samconfig.toml
